:root {
    --headingColor: #11b4e5;
    --whiteColor: #fff;
    --paragraphColor: #303030;
    --buttonBgColor: #3bc1ea;
    --headingFont: 'MuseoModerno', cursive;
    --basicFont: 'Roboto', sans-serif;
}

image {
    width: 100%
}

p {
    color: var(--paragraphColor);
}

h3 {
    font-family: var(--headingFont);
    color: var(--headingColor);
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 2px;
}

body {
    background: #fafafa;
    font-family: var(--basicFont);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
}


/* 1. Banner  */

.banner-text {
    top: 43%;
    left: 20%;
    transform: translate(-29%, -57%);
}

.banner-text h1 {
    font-size: 80px;
    color: var(--headingColor);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.banner-text span {
    display: block;
    padding: 5px 0 35px 0;
    color: var(--whiteColor);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
}

.banner-text h4 {
    font-weight: 300;
    color: #303030;
    font-size: 25px;
}

.banner-text h4::first-letter {
    text-transform: capitalize;
}


/* ==================== 
   2. Navbar 
   ====================
*/

.custom-navbar {
    border-bottom: 1px solid #dddcdc;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 15px !important;
    margin: 0 10px;
    font-weight: 500;
}

.navbar,
.navbar-brand {
    padding: 0;
}

.nav-item:active,
.nav-link:hover,
.nav-link.active {
    color: var(--headingColor) !important;
    background: #ddd;
}


/* ==================== 
   3. about-fitness 
   ====================
*/

.margin-100 {
    margin: 100px 0;
}

.margin-bottom-50 {
    margin: 0 0 50px 0;
}

.qoutes {
    background: var(--buttonBgColor) url('../images/quotes-blue.png') center center no-repeat;
    padding: 55px 50px;
}

.qoutes p {
    font-size: 22px;
    color: var(--whiteColor);
    font-weight: 550;
    font-style: italic;
}

span.about-name {
    font-size: 12px;
    color: var(--whiteColor);
}

.about-img {
    background: #ccc;
}


/* ==================== 
   3. Gallery
   ====================
*/

.tab-links {
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
}

.hideme {
    display: none !important;
}

.tab_active,
.tab-links:hover {
    color: var(--headingColor);
}

.video {
    position: relative;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-box {
    position: relative;
    margin: 20px 0;
    height: 250px;
    overflow: hidden;
    background: #ccc;
}

.gallery-box .gallery-detail {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1%;
    text-transform: uppercase;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: var(--whiteColor);
}


/* ===================
    4.Benefits
   ===================
*/

  
  .col-md-4 {
    flex: 0 0 30.333333%;
  }  

.benefits-card {
    flex: 30%;
    margin: 10px 10px;
    padding: 30px 15px;
    border: 1px solid #ececec;
    background: var(--whiteColor);
    text-align: center;
    transition: all .2s ease;
}

.benefits-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.benefits-card>.img-fluid {
    padding: 20px 0;
}

.benefits-card-header {
    font-size: 18px;
    position: relative;
    margin-bottom: 25px;
}

.benefits-card-header:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0;
    right: 0;
    top: 15px;
    margin: 0 auto;
    border-bottom: 2px solid #d6d5d5;
}

.benefits-card>p {
    font-size: 15px;
    text-align: left;
    padding: 10px 0;
}

.benefits-card-button {
    border: none;
    background: var(--buttonBgColor);
    border-radius: 50px;
    padding: 8px 15px;
    text-transform: uppercase;
    color: var(--whiteColor);
    font-size: 12px;
    font-weight: bold;
    transition: all .2s ease;
}

.benefits-card-button:hover {
    background: #111;
    color: #fff;
}


/* ===================
    5.Query
   ===================
*/

.custom-container {
    width: 940px;
    margin: 0 auto;
}

.query textarea {
    resize: none;
}

.submit-button {
    margin: 0 auto;
    padding: 15px 70px;
    border-radius: 50px;
    background: var(--buttonBgColor);
    border: none;
    color: var(--whiteColor);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    transition: all .2s ease;
}

.submit-button:hover {
    background: #111;
    color: #fff;
}


/* ===============
  6.Map
  ================*/

iframe {
    width: 100%;
}


/* ==============
    7.Footer
   ============== */

.footer {
    margin: 20px 0;
}

.contact-links {
    color: var(--paragraphColor);
    font-weight: 550;
}

.footer .img-fluid {
    margin: 0 10px 0 0;
}

.contact-info li {
    margin-right: 20px;
}

.footer-copyrights {
    display: none;
}

.footer-store-link>li {
    margin: 0 10px 0 0;
}


/*==========================
 MEDIA QUERIES
 ================================ 
*/

@media only screen and (max-width: 1024px) {
    .banner-text h1 {
        font-size: 50px;
    }
    .banner-text span {
        padding: 5px 0 10px 0;
    }
    .banner-text h4 {
        font-size: 20px;
    }
    .margin-100 {
        margin: 30px 0;
    }
    .margin-bottom-50 {
        margin: 0 0 10px 0;
    }
    h3 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 992px) {
    .tab-contents {
        display: flex;
    }
    .tab-contents .col-md-6,
    .col-md-3 {
        display: inline-block;
    }
    .custom-container {
        width: 80%;
    }

    .col-md-4 {
        flex: 0 0 27.333333%;
    }

    /* horizontal bar */

    .cards-row{
        width: 1100px;
        margin: 20px auto;
      }
      .cards>.container,
      .gallery>.container{
        overflow-x: auto;
      }
    
      .tab-contents-row {    
        width: 1100px;
        margin: 20px auto;
      }
    
      .cards-now .col-md-6,
      .cards-now .col-md-3{
        display: block;
        max-width: 300px;
        height: 300px;
      }
      .gallery .row {
        flex-wrap: nowrap;
      }
      .gallery-box img {
        min-width: 300px;
        height: 100%;
    }    
    .gallery-box .play-button {
        height: 60px;
        object-fit: contain;
    } 
    .gallery-box {
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    .contact-info {
        flex-direction: column;
    }
    .contact-info li {
        align-self: flex-start;
        margin: 10px auto 10px 0;
    }
    .social-links {
        justify-content: center;
    }
    .contact-info,
    .social-links,
    .footer-store-link {
        margin: 10px 0;
    }
    .gallery-box {
        text-align: center;
    }
    .navbar {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px
    }
    .banner-image {
        margin-top: 58px;
    }
    .banner-image img {
        min-height: 350px;
        object-fit: cover;
        object-position: 100% 100%;
    }
}